
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* BurgerButton */
.BurgerButton{
  width: 28px;
  height: 24px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.BurgerButton span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.BurgerButton span:nth-child(1){
  top:0px;
  left: 0px;
}
.BurgerButton span:nth-child(2){
  top:10px;
  left: 0px;
  opacity:1;
}
.BurgerButton span:nth-child(3){
  bottom:0px;
  left: 0px;
}

.menu__list {
  transition: height .35s cubic-bezier(.36,.66,.04,1) 25ms;
}

/* .menu__link--sublist:after {
  filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(98%);
  transform: rotate(180deg);
  transition: transform 200ms linear;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiBmaWxsPSJub25lIj48cGF0aCBzdHJva2U9IiMwMzA2MEIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik05IDUgNSAxIDEgNSIvPjwvc3ZnPg==") center/0.688rem 0.375rem;
  background-repeat: no-repeat;
  height: 0.375rem;
  min-width: auto;
  width: 0.625rem;
  margin-left: auto;
  margin-inline-end: 0.688rem;
  margin-block-end: 0;
  margin-inline-start: unset;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
